@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

/* shared styles */
.btn-primary {
  color: white;
  width: 160px;
  height: 52px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  background: rgb(255, 84, 0);
}

.description-primary {
  width: 676px;
  color: white;
  font-size: 1 rem;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: center;
}

.description-secondary {
  width: 676px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1 rem;
  font-weight: 400;
  margin-bottom: 48px;
  text-align: center;
}

.title-primary {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

/* header design */
header {
  width: 80%;
  margin: 0 auto;
}
/* navbar design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.nav-logo {
  display: flex;
  /* justify-content: center; */
  gap: 17px;
}

.nav-title {
  font-size: 36px;
}

.nav-title span {
  color: rgb(255, 84, 0);
}

.nav-links ul {
  display: flex;
  gap: 44px;
}

.nav-links ul li {
  list-style-type: none;
}

.nav-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(66, 66, 71);
}

.nav-links ul li:first-child a {
  color: rgb(255, 84, 0);
}

.bar {
  display: none;
}

/* banner styles */

.banner-container {
  height: 500px;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.banner-title {
  font-size: 64px;
  color: white;
  font-weight: 800;
}

.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  gap: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(3px);
}

.banner-form input,
select {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
  padding: 16px 0px 16px 16px;
}

/* popular styles */
.popular-container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.popular-details {
  width: 577px;
}

.p-first {
  margin-bottom: 26px;
}

.p-last {
  width: 530px;
  margin-top: 26px;
  margin-bottom: 34px;
}

.popular-details p,
ul {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}

.popular-container ul {
  list-style-position: inside;
  padding-left: 20px;
  width: 525px;
}
.popular-details ul li {
  margin-bottom: 18px;
}

.popular-img img {
  width: 540px;
  height: 550px;
}

/* destination styles */
.destination {
  width: 80%;
  margin: 0 auto;
}

.destination img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}

.destination-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 48px; */
}
.destination-des {
  color: black;
}

.row-1,
.row-2,
.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 24px 0px;
}

.row-2 {
  grid-template-columns: 0.8fr 1.5fr 0.7fr;
}

.row-3 {
  grid-template-columns: 0.75fr 1.25fr;
}

.country-card {
  position: relative;
}

.country {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  font-weight: 800;
  color: white;
  transform: translate(-50%, -50%);
}

/* choose styles  */
.choose {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.choose-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 24px 0px;
}

.tag-card {
  margin: 0 auto;
}

.choose-card {
  width: 100%;
  height: 284px;
  border-radius: 16px;
}

.choose-card i {
  margin: 47px 0px 32px 32px;
}

.choose-card h3 {
  width: 486px;
  font-size: 24px;
  font-weight: 800;
  margin: 0px 0px 32px 32px;
}

.choose-card p {
  width: 486px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(90, 90, 93);
  margin: 0px 0px 32px 32px;
}

.hotel-card {
  background: rgba(251, 181, 99, 0.05);
}

.service-card {
  background: rgba(41, 206, 246, 0.05);
}

.tag-card {
  background: rgba(233, 68, 68, 0.05);
  width: 597px;
}

/* footer styles  */
footer {
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  gap: 6px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

.footer-logo-title {
  font-size: 32px;
  font-weight: 800;
}

.footer-social {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
.footer-social i {
  width: 20px;
  font-size: 24px;
}

footer hr {
  margin: 1rem 0;
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
  /* shared styles  */
  .responsive-title {
    color: rgb(19, 19, 24);
    font-size: 20px;
    font-weight: 800;
  }

  .responsvie-des {
    max-width: 309px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 16px;
  }
  header {
    width: 90%;
    margin: 0 auto;
  }

  .nav-title {
    font-size: 21px;
  }

  .nav-logo {
    gap: 9px;
  }
  .nav-logo img {
    width: 40px;
    height: 30px;
  }
  .nav-links ul {
    display: none;
  }
  .bar {
    display: inline-block;
  }

  /* banner */
  .banner-container {
    margin-top: 20px;
    height: 483px;
  }
  .banner-title {
    font-size: 22px;
    margin-top: 32px;
  }

  .banner-des {
    width: 305px;
    font-size: 14px;
  }

  .banner-form {
    flex-direction: column;
    width: 287px;
    height: 288px;
    gap: 16px;
  }

  .banner-form input,
  select {
    width: 255px;
    height: 52px;
  }

  .banner-btn {
    width: 255px;
    height: 52px;
    font-size: 1rem;
  }

  main {
    width: 90%;
    margin: 0 auto;
  }
  /* popular  */
  .popular-container {
    flex-direction: column;
    margin-top: 36px;
  }

  .popular-details {
    width: 100%;
  }

  .popular-details p,
  ul li {
    font-size: 14px;
    width: 290px;
  }

  .popular-container ul {
    padding-left: 5px;
    width: 100%;
  }
  .popular-img {
    margin-top: 24px;
  }

  .popular-img img {
    width: 100%;
    height: 100%;
  }

  .hide {
    display: none;
  }

  /* destination styles  */
  .destination {
    width: 90%;
    margin: 0 auto;
  }
  .row-1,
  .row-2,
  .row-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 16px 0px;
  }

  .country {
    font-size: 20px;
    font-weight: 700;
  }

  /* choose styles  */
  .choose {
    width: 90%;
    margin: 0 auto;
  }

  .choose-row1 {
    grid-template-columns: 1fr;
  }

  .choose-card {
    /* border: 2px solid yellow; */
    width: 100%;
  }

  .choose-card i {
    margin: 32px 0px 16px 32px;
  }

  .choose-card h3 {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    margin: 0px 0px 16px 32px;
  }

  .choose-card p {
    width: 271px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(90, 90, 93);
    margin: 0px 0px 16px 32px;
  }

  /* footer styles */
  footer {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .footer-logo img {
    width: 25px;
    height: 25px;
  }
  .footer-logo-title {
    font-size: 21px;
    font-weight: 800;
  }

  .footer-des {
    width: 287px;
  }
}
